/*leafbooks main css*/
/*yamin03*/

/*font*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700|Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');


.roboto{font-family: 'Roboto', sans-serif;}
.roboto-cd{font-family: 'Roboto Condensed', sans-serif;}
.oswald{font-family: 'Oswald', sans-serif;}

p{font-family: 'Roboto', sans-serif;}
h1,h2,h3,h4,h5{
    font-family: 'Oswald', sans-serif;
}

.thin{font-weight: 300;}
.bold{font-weight: bold;}
.bolder{font-weight: bolder;}


/*color*/
.text-green{color:#006837}
.text-green-alt{color:#8CC63F}
.text-primary{color: #263238}
.text-blue{color: #1565C0}
.text-orange{color:#FF9800}
.text-red{color: #F44336}
.text-gray{color: #B0BEC5}
.text-white{color: #fff}
.text-black{color: #000}

/*bg*/
.bg-green{background-color:#006837}
.bg-green-alt{background-color:#8CC63F}
.bg-primary{background-color: #263238}
.bg-blue{background-color: #1565C0}
.bg-orange{background-color:#FF9800}
.bg-red{background-color: #F44336}
.bg-gray{background-color: #B0BEC5}
.bg-white{background-color: #fff}
.bg-black{background-color: #000}

/*btn*/
.btn-green{background-color:#006837; color: #fff; color:#fff;}
.btn-green-alt{background-color:#8CC63F; color:#fff;}
.btn-primary{background-color: #263238; color:#fff;}
.btn-blue{background-color: #1565C0; color:#fff;}
.btn-orange{background-color:#FF9800; color:#fff;}
.btn-red{background-color: #F44336; color:#fff;}
.btn-gray{background-color: #B0BEC5}
.btn-white{background-color: #fff}
.btn-black{background-color: #000}

.btn{padding-bottom: 10px;}


/*welcome*/
.welcome .title{min-height: 400px;}


