/*leafbooks main css*/
/*yamin03*/

/*font*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700|Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700');


.roboto{font-family: 'Roboto', sans-serif;}
.roboto-cd{font-family: 'Roboto Condensed', sans-serif;}
.oswald{font-family: 'Oswald', sans-serif;}
.poppins{font-family: 'Poppins', sans-serif;}
.newscycle{font-family: "News Cycle", "Arial Narrow Bold", sans-serif;}

p{font-family: 'Roboto', sans-serif;}
h1,h2,h3,h4,h5{
    font-family: 'Oswald', sans-serif;
}

body{background-color: #eaeaea;}
.table{width: 100% !important;}

.thin{font-weight: 300;}
.regular{font-weight: 400;}
.semibold{font-weight: 600;}
.bold{font-weight: 700;}
.bolder{font-weight: bolder;}

.box-shadow-b{
    -webkit-box-shadow: 4px 10px 30px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 10px 30px -13px rgba(0,0,0,0.75);
    box-shadow: 4px 10px 30px -13px rgba(0,0,0,0.75);
}

.box-shadow{
    -webkit-box-shadow: 0px 0px 59px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 59px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 59px -9px rgba(0,0,0,0.75);
}
.text-shadow{text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);}

/*color*/
.text-green{color:#006837}
.text-green-alt{color:#8CC63F}
.text-primary{color: #263238}
.text-blue{color: #1565C0}
.text-orange{color:#FF9800}
.text-red{color: #F44336}
.text-gray{color: #B0BEC5}
.text-white{color: #fff}
.text-black{color: #000}

/*bg*/
.bg-green{background-color:#006837}
.bg-green-alt{background-color:#8CC63F}
.bg-primary{background-color: #263238 !important;}
.bg-blue{background-color: #1565C0}
.bg-orange{background-color:#FF9800}
.bg-red{background-color: #F44336}
.bg-gray{background-color: #B0BEC5}
.bg-white{background-color: #fff}
.bg-black{background-color: #000}

/*btn*/
.btn-green{background-color:#006837; color: #fff; color:#fff;}
.btn-green:hover{background-color:#04cf70; color: #fff; color:#fff;}

.btn-green-alt{background-color:rgb(90, 134, 31); color:#fff;}
.btn-primary{background-color: #006837 !important; color:#fff !important; border:none;}
.btn-primary:hover{background-color: #039450 !important;}
.btn-blue{background-color: #1565C0; color:#fff;}
.btn-orange{background-color:#FF9800; color:#fff;}
.btn-red{background-color: #F44336; color:#fff;}
.btn-gray{background-color: #B0BEC5}
.btn-white{background-color: #fff}
.btn-black{background-color: #000}
.btn-info{color: white !important;}
.btn-warning{color: #000 !important;}

.btn{padding-bottom: 10px; margin:3px;}
.btn-w-m{width:150px;}
.btn-w-s{width:70px;}
.btn-link:hover{text-decoration:none; }


/* nav pills */
.nav-pills .nav-link.active{
    background-color:#22B24C;
}

/*input form*/
input{border: 1px solid #2a2a2a; border-radius: 2px; padding: 4px 10px; font-family: Roboto}
select{border: 1px solid #2a2a2a; border-radius: 2px; padding: 4px 10px; font-family: Roboto}

/*welcome*/
.welcome .title{
    min-height: 400px;
}


.navbar{border-bottom: 2px solid #eaeaea;}

/*sidebar admin dashboard*/
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-text {
    color: rgba(255, 255, 255, .75);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 56px);
    transition: all 0.3s;
    background-color: white;
    -webkit-box-shadow: 1px 0px 15px -3px rgba(153,153,153,1);
    -moz-box-shadow: 1px 0px 15px -3px rgba(153,153,153,1);
    box-shadow: 1px 0px 15px -3px rgba(153,153,153,1);
    z-index: 10;

}
.sidebar ul li a {
    display: block;
    padding: .75rem 1rem;
    color: #A6BCCA;
    text-decoration: none;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.2s;
}
.sidebar ul li a:hover, .sidebar ul .active a {
    color: #427C44;
    transition: 0.2s;
}

.sidebar ul ul a {
    padding-left: 2.5rem;
    background: rgba(0, 0, 0, .25);
    transition: 0.2s;
}
.sidebar ul li i{
    width:30px;
}

.sidebar [data-toggle="collapse"] {
    position: relative;
}
.sidebar [data-toggle="collapse"]:before {
/*
    content: "\f368";
    font-family: "Font Awesome 5 Solid";
    font-weight: 900;
    position: absolute;
    right: 1rem;
*/
}
.sidebar [aria-expanded="true"] {
    background: rgba(0, 0, 0, .25);
}
.sidebar [aria-expanded="true"]:before {
/*    content: "\f0d8";*/
}
.sidebar.toggled {
    margin-left: -250px;
}

.content {
    width: 100%;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.sub-nav{
    list-style: none;
    display: none;
}

.sub-nav li{
    display: block;
    padding: .75rem 1rem;
    color: #A6BCCA;
    text-decoration: none;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.2s;
}

.sub-nav li:hover{
    color: #427C44;
    transition: 0.2s;
    cursor: pointer;
}

.sub-nav li.nav-item a{
    background-color: white;
    padding: .15rem .1rem;
    margin-left:-20px;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.toggled {
        margin-left: 0;
    }
}
/*end sidebar admin dashboard*/


.upload-tab{
    width: 100% !important;
    background-color: white;
}

.upload-tab a{
    text-transform: uppercase;
    color:black;
    border:1px solid #eaeaea;
    border-radius: 0px;
    padding:20px;
}
.nav-pills .nav-link{
    border-radius: 0px;
}
.tab-content{
    width: 100%;
}

.upload-tab a.active{
    border-bottom:2px solid rgb(44, 85, 45);
}

.select2-container--bootstrap .select2-selection--multiple{
    padding:3px !important;
}

.select2-container--bootstrap .select2-selection--single{
    height: 40px !important;
    padding:10px 20px !important;
}
.gj-datepicker-bootstrap [role=right-icon] button {
    height: 38px;
    padding:0px;
    margin:0px;
    border-radius: 5px;
}

.bg-cover{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-contain{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media print {
    .printed {
      width: 1200px;
    }
  }

